<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.elasticsearch" level="INFO"/>
    <logger name="com.xchangeapp" level="INFO"/>
    
    <property resource="application-docker.yaml" />
    <springProperty name="LOGSTASH_HOST" source="logstash.host"/>
    <springProperty name="SERVICE_NAME" source="spring.application.name"/>

    <springProfile name="logstash">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${LOGSTASH_HOST}</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>
                    {
                    "serviceName": "${SERVICE_NAME}",
                    "host": "${HOSTNAME}"
                    }
                </customFields>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="LOGSTASH"/>
        </root>
    </springProfile>
</configuration>