<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.apache.kafka" level="INFO"/>
    <logger name="com.xchangeapp" level="INFO"/>

    <springProfile name="logstash">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>logstash:5000</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>
                    {
                    "serviceName": "fx-rate-service",
                    "host": "${HOSTNAME}"
                    }
                </customFields>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="LOGSTASH"/>
        </root>
    </springProfile>
</configuration>